<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    Header add Access-Control-Allow-Origin "http://www.tongjo.com"
   	Header add Access-Control-Allow-Methods "GET,PUT,DELETE,POST,OPTIONS"
   	Header add Access-Control-Allow-Headers Content-Type,X-Requested-With
   	Header add Access-Control-Allow-Credentials true
</IfModule>
